.Rproj.user
.Rhistory
.RData
*.RData
*.rds
.Ruserdata
*.Rproj
credentials*.R
analysis.md
Paper_text/
paper_text/
Originals/
*.csv
*.xls
*.xlsx
*.txt
*.html
*.pdf
*.png
*.Rmd
*.md
*.zip
*.pptx
shapefiles/
data/
*.docx
